body {
  background: #e8eaf6;
}

mat-sidenav-content {
  overflow: hidden;
}

mat-sidenav-container {
  height: 90%;
  margin-top: 56px;
}

.sidenav-container {
  background: #e8eaf6;
}

.cont {
  /* display: flex */
}

mat-sidenav {
  position: fixed;
  top: 56px;
  width: 240px;
  width: 200px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: honeydew;
}

#menu-items {
  list-style: none;
}

.mat-toolbar {
}

.slick-prev,
.slick-arrow {
  background: aqua;
  display: inline;
}
