<div class="home-top">
    <!-- <div *ngIf="!isBrowser" style="color: #424242;margin-top:10px">
        <mat-spinner [diameter]="50"></mat-spinner>
        <p> Loading... </p>
    </div> -->
    <div *ngIf="!isBrowser" style="color: #424242;margin-top:10px">
        <!-- <mat-spinner [diameter]="50"></mat-spinner> -->
        <p> Loading... </p>
    </div>
    <div myIdentifier fxLayout="column" class="contener" height="height" width="width" *ngIf="isBrowser">
        <span id="top"></span>

        <div *ngIf="!isMobile && editorial_seeMoreVideos$ && this.window.innerWidth" class="divider-container"
            fxLayout="row" fxLayoutAlign="center center">
            <button [style.visibility]="editorial_hasPriv ? 'visible' : 'hidden'" class="privew-fab" id="privew-fab"
                color="basic" mat-mini-fab (click)="editorial_slideTo(editorial_page-1)">
                <mat-icon id="menu-icon">navigate_before</mat-icon>
            </button>
            <div class="home-divider" #t [style.width]="width+'px'" [class.mat-elevation-z4]="IsElivation">
                <div class="divider-titles">
                    <p class="cat-title"> Editorial Pick</p>
                    <div fxFlex fxLayoutAlign="flex-end">
                        <a class="show-more-btn" [routerLink]="['category/temp/page']"
                            [queryParams]="{category:'editorial',page:1}" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">
                            view all
                        </a>
                    </div>
                </div>
                <div class="video-cards">
                    <a class="video-card" [@fadeIn] *ngFor="let item of editorial_seeMoreVideos$"
                        [routerLink]="['playVideo']"
                        [queryParams]="{id:item.idvideo,title:item.title,image:item.image}">

                        <app-video-card [data]="item"></app-video-card>
                    </a>
                </div>
            </div>
            <button [style.visibility]="editorial_hasNext ? 'visible' : 'hidden'" *ngIf="onInit" class="next-fab"
                color="basic" mat-mini-fab (click)="editorial_slideTo(editorial_page+1)">
                <mat-icon id="menu-icon">navigate_next</mat-icon>
            </button>
        </div>




        <div *ngIf="!isMobile && movie_seeMoreVideos$" class="divider-container" fxLayout="row"
            fxLayoutAlign="center center">
            <button [style.visibility]="movie_hasPriv ? 'visible' : 'hidden'" class="privew-fab" id="privew-fab"
                color="basic" mat-mini-fab (click)="movie_slideTo(movie_page-1)">
                <mat-icon id="menu-icon">navigate_before</mat-icon>
            </button>
            <div class="home-divider" #t [style.width]="width+'px'" [class.mat-elevation-z4]="IsElivation">
                <div class="divider-titles">
                    <p class="cat-title"> Movie</p>
                    <div fxFlex fxLayoutAlign="flex-end">
                        <a class="show-more-btn" [routerLink]="['category/temp/page']"
                            [queryParams]="{category:'movie',page:1}" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">
                            view all
                        </a>
                    </div>
                </div>
                <div class="video-cards">
                    <a [@fadeIn] class="video-card" *ngFor="let item of movie_seeMoreVideos$"
                        [routerLink]="['playVideo']"
                        [queryParams]="{id:item.idvideo,title:item.title,image:item.image}">

                        <app-video-card [data]="item"></app-video-card>
                    </a>
                </div>
            </div>
            <button [style.visibility]="movie_hasNext ? 'visible' : 'hidden'" *ngIf="onInit" class="next-fab"
                id="next-fab" color="basic" mat-mini-fab (click)="movie_slideTo(movie_page+1)">
                <mat-icon id="menu-icon">navigate_next</mat-icon>
            </button>
        </div>




        <!-- <div *ngIf="!isMobile && news_seeMoreVideos$ && this.window.innerWidth" class="divider-container" fxLayout="row" fxLayoutAlign="center center">
            <button [style.visibility]="news_hasPriv ? 'visible' : 'hidden'" class="privew-fab" id="privew-fab" color="basic" mat-mini-fab (click)="news_slideTo(news_page-1)">
                <mat-icon id="menu-icon">navigate_before</mat-icon>
            </button>
            <div class="home-divider" #t [style.width]="width+'px'" [class.mat-elevation-z4]="IsElivation">
                <div class="divider-titles">
                    <p class="cat-title"> News</p>
                    <div fxFlex fxLayoutAlign="flex-end">
                        <a class="show-more-btn" [routerLink]="['category/temp/page']" [queryParams]="{category:'news',page:1}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                            view all
                        </a>
                    </div>
                </div>
                <div class="video-cards">
                    <a [@fadeIn] class="video-card" *ngFor="let item of news_seeMoreVideos$" [routerLink]="['playVideo']" [queryParams]="{id:item.idvideo,title:item.title,image:item.image}">

                        <app-video-card [data]="item"></app-video-card>
                    </a>
                </div>
            </div>
            <button [style.visibility]="news_hasNext ? 'visible' : 'hidden'" *ngIf="onInit" class="next-fab" id="next-fab" color="basic" mat-mini-fab (click)="news_slideTo(news_page+1)">
                <mat-icon id="menu-icon">navigate_next</mat-icon>
            </button>
        </div>
         -->



        <div *ngIf="!isMobile && drama_seeMoreVideos$" class="divider-container" fxLayout="row"
            fxLayoutAlign="center center">
            <button [style.visibility]="drama_hasPriv ? 'visible' : 'hidden'" class="privew-fab" id="privew-fab"
                color="basic" mat-mini-fab (click)="drama_slideTo(drama_page-1)">
                <mat-icon id="menu-icon">navigate_before</mat-icon>
            </button>
            <div class="home-divider" #t [style.width]="width+'px'" [class.mat-elevation-z4]="IsElivation">
                <div class="divider-titles">
                    <p class="cat-title"> Drama</p>
                    <div fxFlex fxLayoutAlign="flex-end">
                        <a class="show-more-btn" [routerLink]="['category/temp/page']"
                            [queryParams]="{category:'drama',page:1}" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">
                            view all
                        </a>
                    </div>
                </div>
                <div class="video-cards">
                    <a [@fadeIn] class="video-card" *ngFor="let item of drama_seeMoreVideos$"
                        [routerLink]="['playVideo']"
                        [queryParams]="{id:item.idvideo,title:item.title,image:item.image}">
                        <app-video-card [data]="item"></app-video-card>
                    </a>
                </div>
            </div>
            <button [style.visibility]="drama_hasNext ? 'visible' : 'hidden'" *ngIf="onInit" class="next-fab"
                id="next-fab" color="basic" mat-mini-fab (click)="drama_slideTo(drama_page+1)">
                <mat-icon id="menu-icon">navigate_next</mat-icon>
            </button>
        </div>

        <div *ngIf="!isMobile && movie_seeMoreVideos$" class="divider-container" fxLayout="row"
            fxLayoutAlign="center center">
            <button [style.visibility]="tvshow_hasPriv ? 'visible' : 'hidden'" class="privew-fab" id="privew-fab"
                color="basic" mat-mini-fab (click)="tvshow_slideTo(tvshow_page-1)">
                <mat-icon id="menu-icon">navigate_before</mat-icon>
            </button>
            <div class="home-divider" #t [style.width]="width+'px'" [class.mat-elevation-z4]="IsElivation">
                <div class="divider-titles">
                    <p class="cat-title"> TV SHOW</p>
                    <div fxFlex fxLayoutAlign="flex-end">
                        <a class="show-more-btn" [routerLink]="['category/temp/page']"
                            [queryParams]="{category:'tvshow',page:1}" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">
                            view all
                        </a>
                    </div>
                </div>
                <div class="video-cards">
                    <a [@fadeIn] class="video-card" *ngFor="let item of tvshow_seeMoreVideos$"
                        [routerLink]="['playVideo']"
                        [queryParams]="{id:item.idvideo,title:item.title,image:item.image}">
                        <app-video-card [data]="item"></app-video-card>
                    </a>
                </div>
            </div>
            <button [style.visibility]="tvshow_hasNext ? 'visible' : 'hidden'" *ngIf="onInit" class="next-fab"
                id="next-fab" color="basic" mat-mini-fab (click)="tvshow_slideTo(tvshow_page+1)">
                <mat-icon id="menu-icon">navigate_next</mat-icon>
            </button>
        </div>

        <div *ngIf="!isMobile && music_seeMoreVideos$" class="divider-container" fxLayout="row"
            fxLayoutAlign="center center">
            <button [style.visibility]="music_hasPriv ? 'visible' : 'hidden'" class="privew-fab" id="privew-fab"
                color="basic" mat-mini-fab (click)="music_slideTo(music_page-1)">
                <mat-icon id="menu-icon">navigate_before</mat-icon>
            </button>
            <div class="home-divider" #t [style.width]="width+'px'" [class.mat-elevation-z4]="IsElivation">
                <div class="divider-titles">
                    <p class="cat-title"> Music</p>
                    <div fxFlex fxLayoutAlign="flex-end">
                        <a class="show-more-btn" [routerLink]="['category/temp/page']"
                            [queryParams]="{category:'music',page:1}" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">
                            view all
                        </a>
                    </div>
                </div>
                <div class="video-cards">
                    <a [@fadeIn] class="video-card" *ngFor="let item of music_seeMoreVideos$"
                        [routerLink]="['playVideo']"
                        [queryParams]="{id:item.idvideo,title:item.title,image:item.image}">

                        <app-video-card [data]="item"></app-video-card>
                    </a>
                </div>
            </div>
            <button [style.visibility]="music_hasNext ? 'visible' : 'hidden'" *ngIf="onInit" class="next-fab"
                id="next-fab" color="basic" mat-mini-fab (click)="music_slideTo(music_page+1)">
                <mat-icon id="menu-icon">navigate_next</mat-icon>
            </button>
        </div>



        <div *ngIf="!isMobile && comedy_seeMoreVideos$" class="divider-container" fxLayout="row"
            fxLayoutAlign="center center">
            <button [style.visibility]="comedy_hasPriv ? 'visible' : 'hidden'" class="privew-fab" id="privew-fab"
                color="basic" mat-mini-fab (click)="comedy_slideTo(comedy_page-1)">
                <mat-icon id="menu-icon">navigate_before</mat-icon>
            </button>
            <div class="home-divider" #t [style.width]="width+'px'" [class.mat-elevation-z4]="IsElivation">
                <div class="divider-titles">
                    <p class="cat-title"> Comedy</p>
                    <div fxFlex fxLayoutAlign="flex-end">
                        <a class="show-more-btn" [routerLink]="['category/temp/page']"
                            [queryParams]="{category:'comedy',page:1}" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">
                            view all
                        </a>
                    </div>
                </div>
                <div class="video-cards">
                    <a [@fadeIn] class="video-card" *ngFor="let item of comedy_seeMoreVideos$"
                        [routerLink]="['playVideo']"
                        [queryParams]="{id:item.idvideo,title:item.title,image:item.image}">
                        <app-video-card [data]="item"></app-video-card>
                    </a>
                </div>
            </div>
            <button [style.visibility]="comedy_hasNext ? 'visible' : 'hidden'" *ngIf="onInit" class="next-fab"
                id="next-fab" color="basic" mat-mini-fab (click)="comedy_slideTo(comedy_page+1)">
                <mat-icon id="menu-icon">navigate_next</mat-icon>
            </button>
        </div>



        <!-- for mobile-->

        <div class="mobile-view" *ngIf="isMobile " fxLayout="column" fxLayoutAlign="center center">
            <div class="mob-home-divider" fxLayout="column" [class.mat-elevation-z4]="IsElivation">

                <div class="mob-divider-titles">
                    <a [routerLink]="['/']"> Editorial Pike</a>
                    <div fxFlex fxLayoutAlign="flex-end">
                        <a id="show-more-btn-m" [routerLink]="['category/temp/page']"
                            [queryParams]="{category:'editorial',page:1}" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">
                            view all
                        </a>
                    </div>

                </div>
                <div class="mob-video-cards">
                    <a class="mob-video-card" *ngFor="let item of mob_editor_video$" [routerLink]="['playVideo']"
                        [queryParams]="{id:item.idvideo,title:item.title,image:item.image}">
                        <app-mob-video-card [data]="item">
                        </app-mob-video-card>
                    </a>
                </div>
                <div>
                    <div class="mob-see-more-botton" *ngIf="mob_editor_video$">
                        <button *ngIf="mob_editor_video$.length>0 && mob_editor_hasNext" mat-button color="warn"
                            (click)="mob_editor_slideTo()">SEE MORE
                        </button>
                    </div>
                </div>
            </div>
            <!--
            <div class="mob-home-divider" fxLayout="column" [class.mat-elevation-z4]="IsElivation">

                <div class="mob-divider-titles">
                    <a [routerLink]="['/']"> NEWS</a>
                    <div fxFlex fxLayoutAlign="flex-end">
                        <a id="show-more-btn-m" [routerLink]="['category/temp/page']" [queryParams]="{category:'news',page:1}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                            view all
                        </a>
                    </div>

                </div>
                <div class="mob-video-cards">
                    <a class="mob-video-card" *ngFor="let item of mob_news_video$" [routerLink]="['playVideo']" [queryParams]="{id:item.idvideo,title:item.title,image:item.image}">

                        <app-mob-video-card [data]="item">
                        </app-mob-video-card>
                    </a>
                </div>
                <div>
                    <div class="mob-see-more-botton" *ngIf="mob_news_video$">
                        <button *ngIf="mob_news_video$.length>0 && mob_news_hasNext" mat-button color="warn" (click)="mob_news_slideTo()">SEE MORE
                        </button>
                    </div>
                </div>
            </div> -->





            <div class="mob-home-divider" fxLayout="column" [class.mat-elevation-z4]="IsElivation">

                <div class="mob-divider-titles">
                    <a [routerLink]="['/']"> MOVIE</a>
                    <div fxFlex fxLayoutAlign="flex-end">
                        <a id="show-more-btn-m" [routerLink]="['category/temp/page']"
                            [queryParams]="{category:'movie',page:1}" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">
                            view all
                        </a>
                    </div>
                </div>
                <div class="mob-video-cards">
                    <a class="mob-video-card" *ngFor="let item of mob_movie_video$" [routerLink]="['playVideo']"
                        [queryParams]="{id:item.idvideo,title:item.title,image:item.image}">

                        <app-mob-video-card [data]="item">
                        </app-mob-video-card>
                    </a>
                </div>
                <div>
                    <div class="mob-see-more-botton" *ngIf="mob_movie_video$">
                        <button *ngIf="mob_movie_video$.length>0 && mob_movie_hasNext" mat-button color="warn"
                            (click)="mob_movie_slideTo()">SEE MORE
                        </button>
                    </div>
                </div>
            </div>





            <div class="mob-home-divider" fxLayout="column" [class.mat-elevation-z4]="IsElivation">

                <div class="mob-divider-titles">
                    <a [routerLink]="['/']"> DRAMA</a>
                    <div fxFlex fxLayoutAlign="flex-end">
                        <a id="show-more-btn-m" [routerLink]="['category/temp/page']"
                            [queryParams]="{category:'drama',page:1}" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">
                            view all
                        </a>
                    </div>
                </div>
                <div class="mob-video-cards">
                    <a class="mob-video-card" *ngFor="let item of mob_drama_video$" [routerLink]="['playVideo']"
                        [queryParams]="{id:item.idvideo,title:item.title,image:item.image}">

                        <app-mob-video-card [data]="item">
                        </app-mob-video-card>
                    </a>
                </div>
                <div>
                    <div class="mob-see-more-botton" *ngIf="mob_drama_video$">
                        <button *ngIf="mob_drama_video$.length>0 && mob_drama_hasNext" mat-button color="warn"
                            (click)="mob_drama_slideTo()">SEE MORE
                        </button>
                    </div>
                </div>
            </div>


            <div class="mob-home-divider" fxLayout="column" [class.mat-elevation-z4]="IsElivation">

                <div class="mob-divider-titles">
                    <a [routerLink]="['/']"> TV SHOW</a>
                    <div fxFlex fxLayoutAlign="flex-end">
                        <a id="show-more-btn-m" [routerLink]="['category/temp/page']"
                            [queryParams]="{category:'tvshow',page:1}" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">
                            view all
                        </a>
                    </div>
                </div>
                <div class="mob-video-cards">
                    <a class="mob-video-card" *ngFor="let item of mob_tvshow_video$" [routerLink]="['playVideo']"
                        [queryParams]="{id:item.idvideo,title:item.title,image:item.image}">

                        <app-mob-video-card [data]="item">
                        </app-mob-video-card>
                    </a>
                </div>
                <div>
                    <div class="mob-see-more-botton" *ngIf="mob_editor_video$">
                        <button *ngIf="mob_editor_video$.length>0 && mob_tvshow_hasNext" mat-button color="warn"
                            (click)="mob_tvshow_slideTo()">SEE MORE
                        </button>
                    </div>
                </div>
            </div>




            <div class="mob-home-divider" fxLayout="column" [class.mat-elevation-z4]="IsElivation">

                <div class="mob-divider-titles">
                    <a [routerLink]="['/']"> MUSIC</a>
                    <div fxFlex fxLayoutAlign="flex-end">
                        <a id="show-more-btn-m" [routerLink]="['category/temp/page']"
                            [queryParams]="{category:'music',page:1}" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">
                            view all
                        </a>
                    </div>

                </div>
                <div class="mob-video-cards">
                    <a class="mob-video-card" *ngFor="let item of mob_music_video$" [routerLink]="['playVideo']"
                        [queryParams]="{id:item.idvideo,title:item.title,image:item.image}">

                        <app-mob-video-card [data]="item">
                        </app-mob-video-card>
                    </a>
                </div>
                <div>
                    <div class="mob-see-more-botton" *ngIf="mob_editor_video$">
                        <button *ngIf="mob_editor_video$.length>0 && mob_music_hasNext" mat-button color="warn"
                            (click)="mob_music_slideTo()">SEE MORE
                        </button>
                    </div>
                </div>
            </div>


            <div class="mob-home-divider" fxLayout="column" [class.mat-elevation-z4]="IsElivation">

                <div class="mob-divider-titles">
                    <a [routerLink]="['/']"> COMEDY</a>
                    <div fxFlex fxLayoutAlign="flex-end">
                        <a id="show-more-btn-m" [routerLink]="['category/temp/page']"
                            [queryParams]="{category:'music',page:1}" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact:true}">
                            view all
                        </a>
                    </div>

                </div>
                <div class="mob-video-cards">
                    <a class="mob-video-card" *ngFor="let item of mob_comedy_video$" [routerLink]="['playVideo']"
                        [queryParams]="{id:item.idvideo,title:item.title,image:item.image}">

                        <app-mob-video-card [data]="item">
                        </app-mob-video-card>
                    </a>
                </div>
                <div>
                    <div class="mob-see-more-botton" *ngIf="mob_comedy_video$">
                        <button *ngIf="mob_comedy_video$.length>0 && mob_comedy_hasNext" mat-button color="warn"
                            (click)="mob_comedy_slideTo()">SEE MORE
                        </button>
                    </div>
                </div>
            </div>





        </div>

        <!-- end mobile -->



    </div>
</div>