<!-- <span id="top" style="width:100%;height: 56px; background: #4f5dbb;"></span> -->
<mat-nav-list #sidenav class="app-sidenav">
    <!-- <a mat-list-item [routerLink]="['category/temp/page']" [queryParams]="{category:'news',page:1}" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" (click)="sidenavOnToggle()">
        <img class="icon" src="assets/icon/news.png" alt="">
        &nbsp; News
    </a> -->
    <a mat-list-item [routerLink]="['category/temp/page']" [queryParams]="{category:'movie',page:1}"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" (click)="sidenavOnToggle()">
        <!-- <mat-icon>movie</mat-icon> -->
        &nbsp; Movie
    </a>
    <a mat-list-item [routerLink]="['category/temp/page']" [queryParams]="{category:'drama',page:1}"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" (click)="sidenavOnToggle()">
        <!-- <mat-icon>movie</mat-icon> -->
        &nbsp; Drama
    </a>
    <a mat-list-item [routerLink]="['category/temp/page']" [queryParams]="{category:'comedy',page:1}"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" (click)="sidenavOnToggle()">
        <!-- <img class="icon" src="assets/icon/comedy.png" alt=""> -->
        &nbsp; Comedy
    </a>
    <a mat-list-item [routerLink]="['category/temp/page']" [queryParams]="{category:'music',page:1}"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" (click)="sidenavOnToggle()">
        <!-- <mat-icon>music_video</mat-icon> -->
        &nbsp; Music
    </a>

    <a mat-list-item [routerLink]="['category/temp/page']" [queryParams]="{category:'sport',page:1}"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" (click)="sidenavOnToggle()">
        <!-- <img class="icon" src="assets/icon/sport.png" alt="">  -->
        &nbsp; Sport
    </a>


    <a mat-list-item [routerLink]="['category/temp/page']" [queryParams]="{category:'technology',page:1}"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" (click)="sidenavOnToggle()">
        <!-- <img class="icon" src="assets/icon/technology.png" alt="">  -->
        &nbsp; Technology
    </a>

    <a mat-list-item [routerLink]="['category/temp/page']" [queryParams]="{category:'tvshow',page:1}"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" (click)="sidenavOnToggle()">
        <!-- <img class="icon" src="assets/icon/technology.png" alt="">  -->
        &nbsp; TV Show
    </a>
    <a mat-list-item [routerLink]="['category/temp/page']" [queryParams]="{category:'tips',page:1}"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" (click)="sidenavOnToggle()">
        <!-- <mat-icon>live_tv</mat-icon> -->
        &nbsp; Tips
    </a>
    <a mat-list-item [routerLink]="['category/temp/page']" [queryParams]="{category:'others',page:1}"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}" (click)="sidenavOnToggle()">
        <!-- <mat-icon>more_horiz</mat-icon> -->
        &nbsp; Others
    </a>

</mat-nav-list>