<div mat-dialog-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" style="padding-bottom: 50px">

    <h2 style="color: gray;">
        Sign In With</h2>
    <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" style="padding:20px;">

        <button style="color: #263238;background: white" mat-raised-button (click)="signInWithGoogle()">
            <img class="icon" src="assets/icon/google.png" alt="">
            Google</button>
    </div>
</div>