.manage-container {
  height: 100%;
  width: 96%;
  padding: 20px 5px;
  min-height: 600px;
}

.manage-side-nav {
  flex: 1;
}

.manage-side-nav-items {
  flex: 1;
  background: white;
  padding: 0 10px 30px 10px;
}

.manage-content {
  flex: 3;
  background: white;
  padding: 5px;
}

.add-video-form {
  width: 100%;
  margin-top: 30px;
}

/* mat-form-field{
        width:280px;
    } */

mat-form-field {
  width: 50%;
}
